test/flows.json
[
    {
        "id": "f25c2c2d.6ed27",
        "type": "tab",
        "label": "Front Door Reader"
    },
    {
        "id": "af8eb435.50eef",
        "type": "tab",
        "label": "Front Door Handler"
    },
    {
        "id": "aa066d67.6cfce",
        "type": "tab",
        "label": "Test Reader"
    },
    {
        "id": "7203a1d5.ce041",
        "type": "tab",
        "label": "Main Relay"
    },
    {
        "id": "cd8293c3.d0adf8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": ""
    },
    {
        "id": "b7459bd6.cc96b8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "3b412734.eb65a8",
        "type": "ui_group",
        "z": "",
        "name": "Front Door",
        "tab": "b7459bd6.cc96b8",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "1ad2398b.a17406",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Helvetica Neue",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#10cfd8",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                }
            }
        },
        "site": {
            "name": "FamiLAB IOT Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "657aacd1.aa587c",
        "type": "ui_link",
        "z": "",
        "name": "FamiLAB",
        "link": "https://familab.org",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 1
    },
    {
        "id": "24048cb8.d37664",
        "type": "ui_link",
        "z": "",
        "name": "Editor",
        "link": "/admin",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 2
    },
    {
        "id": "e36fe1ec.0ae5a8",
        "type": "ui_group",
        "z": "",
        "name": "Front Door Reader",
        "tab": "b7459bd6.cc96b8",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "d44b5357.d71a2",
        "type": "ui_group",
        "z": "",
        "name": "Test Reader",
        "tab": "b7459bd6.cc96b8",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "3a8995d6.619b7a",
        "type": "ui_group",
        "z": "",
        "name": "Main Relay",
        "tab": "b7459bd6.cc96b8",
        "disp": true,
        "width": "6"
    },
    {
        "id": "dc8acdb5.47e818",
        "type": "inject",
        "z": "aa066d67.6cfce",
        "name": "Test Card Read",
        "topic": "",
        "payload": "{\"uid\": \"01020304050607\" }",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 149.5,
        "y": 235,
        "wires": [
            [
                "cd476388.5e04c8"
            ]
        ]
    },
    {
        "id": "83255b0f.fbc27",
        "type": "mqtt out",
        "z": "aa066d67.6cfce",
        "name": "nfc",
        "topic": "nfc",
        "qos": "0",
        "retain": "false",
        "broker": "cd8293c3.d0adf8",
        "x": 520.5,
        "y": 235,
        "wires": []
    },
    {
        "id": "bb27d8c9.a192d",
        "type": "mqtt in",
        "z": "aa066d67.6cfce",
        "name": "cmd",
        "topic": "00:00:00:00:00:00",
        "qos": "2",
        "broker": "cd8293c3.d0adf8",
        "x": 97.5,
        "y": 337,
        "wires": [
            [
                "233688d7.123c58"
            ]
        ]
    },
    {
        "id": "c38ad58d.79d78",
        "type": "mqtt in",
        "z": "af8eb435.50eef",
        "name": "nfc",
        "topic": "nfc",
        "qos": "0",
        "broker": "cd8293c3.d0adf8",
        "x": 73.5,
        "y": 118,
        "wires": [
            [
                "a035ec86.517ca"
            ]
        ]
    },
    {
        "id": "e218109.f2c717",
        "type": "switch",
        "z": "af8eb435.50eef",
        "name": "isFrontDoorReader",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "id",
                "vt": "flow"
            },
            {
                "t": "eq",
                "v": "testId",
                "vt": "flow"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 157.5,
        "y": 213,
        "wires": [
            [
                "439b4ae.bff5634",
                "41a133d7.e0746c"
            ],
            [
                "41a133d7.e0746c",
                "439b4ae.bff5634"
            ]
        ]
    },
    {
        "id": "439b4ae.bff5634",
        "type": "delay",
        "z": "af8eb435.50eef",
        "name": "Limit",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 355.5,
        "y": 233,
        "wires": [
            [
                "909305ae.58994"
            ]
        ]
    },
    {
        "id": "a035ec86.517ca",
        "type": "json",
        "z": "af8eb435.50eef",
        "name": "",
        "x": 232.5,
        "y": 118,
        "wires": [
            [
                "e218109.f2c717"
            ]
        ]
    },
    {
        "id": "41a133d7.e0746c",
        "type": "ui_text",
        "z": "af8eb435.50eef",
        "group": "3b412734.eb65a8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last UID",
        "format": "{{msg.payload.uid}}",
        "layout": "row-spread",
        "x": 366.5,
        "y": 167,
        "wires": []
    },
    {
        "id": "eb6c93a9.4f7d9",
        "type": "function",
        "z": "af8eb435.50eef",
        "name": "Load User",
        "func": "if(msg.payload.uid == \"01020304050607\") {\n    msg.user = {\n        id: 1,\n        name: \"testUser\",\n        email: \"test@familab.org\",\n        active: true\n    }\n} else if(msg.payload.uid == \"044388726D4880\") {\n    msg.user = {\n        id: 2,\n        name: \"Lance\",\n        email: \"lance@familab.org\",\n        active: true\n    }\n} else {\n   msg.user = {\n       id: 0,\n       name: \"Anonymous\",\n       active: false\n   };\n}\nnode.status({fill:\"green\",shape:\"ring\",text:msg.user.name});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 398.5,
        "y": 326,
        "wires": [
            [
                "97bd7226.525308",
                "67ddbf0d.b668e"
            ]
        ]
    },
    {
        "id": "97bd7226.525308",
        "type": "function",
        "z": "af8eb435.50eef",
        "name": "isUserAllowed",
        "func": "if(msg.user.active) {\n    msg.accessAllowed = true;\n} else {\n   msg.accessAllowed = false; \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605.5,
        "y": 329,
        "wires": [
            [
                "921762d6.8e7908",
                "89906bec.63e898",
                "da2c8690.5db11"
            ]
        ]
    },
    {
        "id": "921762d6.8e7908",
        "type": "switch",
        "z": "af8eb435.50eef",
        "name": "isAllowed",
        "property": "accessAllowed",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 448.5,
        "y": 446,
        "wires": [
            [
                "454bb956.e61d08",
                "2e49a845.5f4f6"
            ],
            [
                "ec0a8f45.30be78"
            ]
        ]
    },
    {
        "id": "81b44999.e5e0d",
        "type": "function",
        "z": "af8eb435.50eef",
        "name": "logAttempt",
        "func": "node.log(msg.logEntry);",
        "outputs": 1,
        "noerr": 0,
        "x": 1074.5,
        "y": 316,
        "wires": [
            []
        ]
    },
    {
        "id": "89906bec.63e898",
        "type": "template",
        "z": "af8eb435.50eef",
        "name": "formatLog",
        "field": "logEntry",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{user.name}} (0x{{payload.uid}}) was {{#accessAllowed}}allowed{{/accessAllowed}}{{^accessAllowed}}denied{{/accessAllowed}} access to {{payload.readerId}}",
        "x": 816.5,
        "y": 326,
        "wires": [
            [
                "81b44999.e5e0d"
            ]
        ]
    },
    {
        "id": "da2c8690.5db11",
        "type": "ui_text",
        "z": "af8eb435.50eef",
        "group": "3b412734.eb65a8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Allowed",
        "label": "Allowed",
        "format": "{{msg.accessAllowed}}",
        "layout": "row-spread",
        "x": 773.5,
        "y": 249,
        "wires": []
    },
    {
        "id": "67ddbf0d.b668e",
        "type": "ui_text",
        "z": "af8eb435.50eef",
        "group": "3b412734.eb65a8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "User",
        "label": "User",
        "format": "{{msg.user.name}}",
        "layout": "row-spread",
        "x": 578.5,
        "y": 251,
        "wires": []
    },
    {
        "id": "454bb956.e61d08",
        "type": "change",
        "z": "af8eb435.50eef",
        "name": "setGreenAllowedAnimation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"animation\": \"pulse_green\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 520,
        "wires": [
            [
                "644541c2.32544",
                "60d04b0e.96899c",
                "920682fb.898f3"
            ]
        ]
    },
    {
        "id": "ec0a8f45.30be78",
        "type": "change",
        "z": "af8eb435.50eef",
        "name": "setDeniedAnimation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"animation\": \"pulse_red\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 620,
        "wires": [
            [
                "644541c2.32544",
                "60d04b0e.96899c",
                "920682fb.898f3"
            ]
        ]
    },
    {
        "id": "cdb89da8.000118",
        "type": "delay",
        "z": "af8eb435.50eef",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 640.5,
        "y": 717,
        "wires": [
            [
                "cfb1b873.3a779"
            ]
        ]
    },
    {
        "id": "8a191626.eeac78",
        "type": "ui_text",
        "z": "aa066d67.6cfce",
        "group": "d44b5357.d71a2",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Animation",
        "label": "Animation",
        "format": "{{msg.payload.animation}}",
        "layout": "row-spread",
        "x": 384.5,
        "y": 357,
        "wires": []
    },
    {
        "id": "233688d7.123c58",
        "type": "json",
        "z": "aa066d67.6cfce",
        "name": "",
        "x": 228.5,
        "y": 336,
        "wires": [
            [
                "64402c08.5ec26c",
                "8a191626.eeac78"
            ]
        ]
    },
    {
        "id": "cfb1b873.3a779",
        "type": "change",
        "z": "af8eb435.50eef",
        "name": "stopAnimation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"animation\": \"cylon_blue\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 700,
        "wires": [
            [
                "920682fb.898f3",
                "60d04b0e.96899c"
            ]
        ]
    },
    {
        "id": "b9fb30b0.8563d8",
        "type": "mqtt out",
        "z": "af8eb435.50eef",
        "name": "control",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "cd8293c3.d0adf8",
        "x": 1574.5,
        "y": 466,
        "wires": []
    },
    {
        "id": "2e49a845.5f4f6",
        "type": "change",
        "z": "af8eb435.50eef",
        "name": "setUnlockDoor",
        "rules": [
            {
                "t": "set",
                "p": "payload.controlId",
                "pt": "msg",
                "to": "controlId",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.state",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.controlChannel",
                "pt": "msg",
                "to": "controlChannel",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 862.5,
        "y": 453,
        "wires": [
            [
                "57b2a1a9.b4efd8",
                "bf7581e9.3af"
            ]
        ]
    },
    {
        "id": "2d354980.e2d486",
        "type": "delay",
        "z": "af8eb435.50eef",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1140,
        "y": 380,
        "wires": [
            [
                "a489d4bd.0c7338"
            ]
        ]
    },
    {
        "id": "a489d4bd.0c7338",
        "type": "change",
        "z": "af8eb435.50eef",
        "name": "setLockDoor",
        "rules": [
            {
                "t": "set",
                "p": "payload.controlId",
                "pt": "msg",
                "to": "controlId",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.state",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.controlChannel",
                "pt": "msg",
                "to": "controlChannel",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1181.5,
        "y": 494,
        "wires": [
            [
                "bf7581e9.3af"
            ]
        ]
    },
    {
        "id": "87327fdb.ad3cd8",
        "type": "ui_switch",
        "z": "af8eb435.50eef",
        "name": "",
        "label": "Unlock",
        "group": "3b412734.eb65a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 167.5,
        "y": 387,
        "wires": [
            [
                "96b65cdb.e31c98"
            ]
        ]
    },
    {
        "id": "81997afb.7a73e",
        "type": "ui_button",
        "z": "af8eb435.50eef",
        "name": "",
        "group": "3b412734.eb65a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Unlock",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "",
        "x": 560,
        "y": 400,
        "wires": [
            [
                "9f118073.3744e8"
            ]
        ]
    },
    {
        "id": "96b65cdb.e31c98",
        "type": "function",
        "z": "af8eb435.50eef",
        "name": "setOverride",
        "func": "flow.set('override', msg.payload);\nmsg.payload = {\n    state: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 172.5,
        "y": 442,
        "wires": [
            [
                "147a8583.9918ca"
            ]
        ]
    },
    {
        "id": "909305ae.58994",
        "type": "switch",
        "z": "af8eb435.50eef",
        "name": "isOverride",
        "property": "override",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 202.5,
        "y": 328,
        "wires": [
            [
                "eb6c93a9.4f7d9"
            ]
        ]
    },
    {
        "id": "644541c2.32544",
        "type": "switch",
        "z": "af8eb435.50eef",
        "name": "isOverride",
        "property": "override",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 470,
        "y": 700,
        "wires": [
            [
                "cdb89da8.000118"
            ]
        ]
    },
    {
        "id": "57b2a1a9.b4efd8",
        "type": "switch",
        "z": "af8eb435.50eef",
        "name": "isOverride",
        "property": "override",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 983,
        "y": 369,
        "wires": [
            [
                "2d354980.e2d486"
            ]
        ]
    },
    {
        "id": "147a8583.9918ca",
        "type": "switch",
        "z": "af8eb435.50eef",
        "name": "isOverride",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 177.5,
        "y": 494,
        "wires": [
            [
                "2e49a845.5f4f6",
                "de76622a.b546"
            ],
            [
                "cfb1b873.3a779",
                "a489d4bd.0c7338"
            ]
        ]
    },
    {
        "id": "187a906d.d5d5c8",
        "type": "inject",
        "z": "aa066d67.6cfce",
        "name": "heartbeat",
        "topic": "",
        "payload": "id",
        "payloadType": "flow",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "x": 137.5,
        "y": 178,
        "wires": [
            [
                "1b95f985.642c1e"
            ]
        ]
    },
    {
        "id": "4bb49e58.1cdd5",
        "type": "mqtt out",
        "z": "aa066d67.6cfce",
        "name": "heartbeat",
        "topic": "heartbeat",
        "qos": "0",
        "retain": "false",
        "broker": "cd8293c3.d0adf8",
        "x": 523.5,
        "y": 181,
        "wires": []
    },
    {
        "id": "64402c08.5ec26c",
        "type": "function",
        "z": "aa066d67.6cfce",
        "name": "animation",
        "func": "node.status({fill:\"green\",shape:\"ring\",text:msg.payload.animation});",
        "outputs": 1,
        "noerr": 0,
        "x": 381.5,
        "y": 297,
        "wires": [
            []
        ]
    },
    {
        "id": "504b87af.31a0e",
        "type": "inject",
        "z": "aa066d67.6cfce",
        "name": "annouce",
        "topic": "",
        "payload": "id",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 132.5,
        "y": 122,
        "wires": [
            [
                "25a19681.78506a"
            ]
        ]
    },
    {
        "id": "5dccf20b.ae08ac",
        "type": "mqtt out",
        "z": "aa066d67.6cfce",
        "name": "announce",
        "topic": "announce",
        "qos": "",
        "retain": "",
        "broker": "cd8293c3.d0adf8",
        "x": 539.5,
        "y": 123,
        "wires": []
    },
    {
        "id": "af446ea2.e5509",
        "type": "mqtt out",
        "z": "af8eb435.50eef",
        "name": "cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "cd8293c3.d0adf8",
        "x": 1311.5,
        "y": 582,
        "wires": []
    },
    {
        "id": "cc77d9a6.ab8a18",
        "type": "mqtt in",
        "z": "f25c2c2d.6ed27",
        "name": "heartbeat",
        "topic": "heartbeat",
        "qos": "0",
        "broker": "cd8293c3.d0adf8",
        "x": 119,
        "y": 203,
        "wires": [
            [
                "217a7b4f.152bd4"
            ]
        ]
    },
    {
        "id": "1c0106f4.c389d1",
        "type": "switch",
        "z": "f25c2c2d.6ed27",
        "name": "isReader",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "id",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 176.5,
        "y": 334,
        "wires": [
            [
                "c7ff1ac2.0def6",
                "5bc6205c.df7a18",
                "e312b773.c5d7b8",
                "3340bed4.3417c2",
                "d7773352.e7133"
            ]
        ]
    },
    {
        "id": "5bc6205c.df7a18",
        "type": "function",
        "z": "f25c2c2d.6ed27",
        "name": "isConnected",
        "func": "if(msg.payload.alive) {\n  node.status({fill:\"green\",shape:\"ring\",text:\"up\"});\n} else {\n  node.status({fill:\"red\",shape:\"ring\",text:\"down\"});\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 649,
        "y": 352,
        "wires": [
            []
        ]
    },
    {
        "id": "e312b773.c5d7b8",
        "type": "trigger",
        "z": "f25c2c2d.6ed27",
        "op1": "{\"alive\":false}",
        "op2": "{\"alive\":false}",
        "op1type": "json",
        "op2type": "json",
        "duration": "10",
        "extend": true,
        "units": "s",
        "reset": "",
        "name": "WatchDog",
        "x": 456,
        "y": 290,
        "wires": [
            [
                "5bc6205c.df7a18",
                "c7ff1ac2.0def6"
            ]
        ]
    },
    {
        "id": "217a7b4f.152bd4",
        "type": "json",
        "z": "f25c2c2d.6ed27",
        "name": "",
        "x": 275,
        "y": 204,
        "wires": [
            [
                "b802e37e.7fa888"
            ]
        ]
    },
    {
        "id": "c7ff1ac2.0def6",
        "type": "ui_text",
        "z": "f25c2c2d.6ed27",
        "group": "e36fe1ec.0ae5a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Online",
        "format": "{{msg.payload.alive}}",
        "layout": "row-spread",
        "x": 594,
        "y": 408,
        "wires": []
    },
    {
        "id": "b802e37e.7fa888",
        "type": "change",
        "z": "f25c2c2d.6ed27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.alive",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 454,
        "y": 204,
        "wires": [
            [
                "1c0106f4.c389d1"
            ]
        ]
    },
    {
        "id": "98e96d37.e10f4",
        "type": "ui_gauge",
        "z": "f25c2c2d.6ed27",
        "name": "",
        "group": "e36fe1ec.0ae5a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "VCC",
        "label": "volts",
        "format": "{{value}}",
        "min": "0",
        "max": "7",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "x": 403.5,
        "y": 495,
        "wires": []
    },
    {
        "id": "26db06cc.183bb2",
        "type": "ui_gauge",
        "z": "f25c2c2d.6ed27",
        "name": "",
        "group": "e36fe1ec.0ae5a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Signal",
        "label": "RSSI",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "x": 428.5,
        "y": 451,
        "wires": []
    },
    {
        "id": "3340bed4.3417c2",
        "type": "change",
        "z": "f25c2c2d.6ed27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230.5,
        "y": 493,
        "wires": [
            [
                "98e96d37.e10f4"
            ]
        ]
    },
    {
        "id": "d7773352.e7133",
        "type": "change",
        "z": "f25c2c2d.6ed27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230.5,
        "y": 449,
        "wires": [
            [
                "26db06cc.183bb2"
            ]
        ]
    },
    {
        "id": "89d823dc.4cf8f",
        "type": "config",
        "z": "f25c2c2d.6ed27",
        "name": "Reader ID",
        "properties": [
            {
                "p": "id",
                "pt": "flow",
                "to": "F4:FB:87:7F:CF:5C",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 131.5,
        "y": 143,
        "wires": []
    },
    {
        "id": "d82c237b.99be",
        "type": "inject",
        "z": "f25c2c2d.6ed27",
        "name": "Reboot",
        "topic": "",
        "payload": "{\"command\": \"reboot\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 111.5,
        "y": 567,
        "wires": [
            [
                "75098e82.9641c8"
            ]
        ]
    },
    {
        "id": "1d07a523.921d0b",
        "type": "ui_button",
        "z": "f25c2c2d.6ed27",
        "name": "",
        "group": "e36fe1ec.0ae5a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Reboot",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\": \"reboot\"}",
        "payloadType": "str",
        "topic": "",
        "x": 101.5,
        "y": 625,
        "wires": [
            [
                "75098e82.9641c8"
            ]
        ]
    },
    {
        "id": "9076a0ec.2c09d8",
        "type": "mqtt out",
        "z": "f25c2c2d.6ed27",
        "name": "cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "cd8293c3.d0adf8",
        "x": 482.5,
        "y": 605,
        "wires": []
    },
    {
        "id": "75098e82.9641c8",
        "type": "change",
        "z": "f25c2c2d.6ed27",
        "name": "set Reader ID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "id",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 292.5,
        "y": 606,
        "wires": [
            [
                "9076a0ec.2c09d8"
            ]
        ]
    },
    {
        "id": "5fe29aa0.cf97c4",
        "type": "config",
        "z": "aa066d67.6cfce",
        "name": "Test Reader Config",
        "properties": [
            {
                "p": "id",
                "pt": "flow",
                "to": "00:00:00:00:00:00",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 161.5,
        "y": 51,
        "wires": []
    },
    {
        "id": "25a19681.78506a",
        "type": "change",
        "z": "aa066d67.6cfce",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 333.5,
        "y": 122,
        "wires": [
            [
                "5dccf20b.ae08ac"
            ]
        ]
    },
    {
        "id": "1b95f985.642c1e",
        "type": "change",
        "z": "aa066d67.6cfce",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.rssi",
                "pt": "msg",
                "to": "-80",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.vcc",
                "pt": "msg",
                "to": "3.3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 324.5,
        "y": 180,
        "wires": [
            [
                "4bb49e58.1cdd5"
            ]
        ]
    },
    {
        "id": "cd476388.5e04c8",
        "type": "change",
        "z": "aa066d67.6cfce",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "id",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 353.5,
        "y": 234,
        "wires": [
            [
                "83255b0f.fbc27"
            ]
        ]
    },
    {
        "id": "8cedcf08.467288",
        "type": "mqtt in",
        "z": "aa066d67.6cfce",
        "name": "heartbeat",
        "topic": "heartbeat",
        "qos": "0",
        "broker": "cd8293c3.d0adf8",
        "x": 112,
        "y": 430,
        "wires": [
            [
                "d0aeb867.b7e6a8"
            ]
        ]
    },
    {
        "id": "85137406.91e9c",
        "type": "switch",
        "z": "aa066d67.6cfce",
        "name": "isReader",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "id",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 169.5,
        "y": 561,
        "wires": [
            [
                "99cfadd3.a764c8",
                "59588bc8.c78aa4",
                "357f4747.111e4",
                "6cf488d4.dab7f",
                "9efcd935.df59a"
            ]
        ]
    },
    {
        "id": "59588bc8.c78aa4",
        "type": "function",
        "z": "aa066d67.6cfce",
        "name": "isConnected",
        "func": "if(msg.payload.alive) {\n  node.status({fill:\"green\",shape:\"ring\",text:\"up\"});\n} else {\n  node.status({fill:\"red\",shape:\"ring\",text:\"down\"});\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 642,
        "y": 579,
        "wires": [
            []
        ]
    },
    {
        "id": "357f4747.111e4",
        "type": "trigger",
        "z": "aa066d67.6cfce",
        "op1": "{\"alive\":false}",
        "op2": "{\"alive\":false}",
        "op1type": "json",
        "op2type": "json",
        "duration": "10",
        "extend": true,
        "units": "s",
        "reset": "",
        "name": "WatchDog",
        "x": 449,
        "y": 517,
        "wires": [
            [
                "59588bc8.c78aa4",
                "99cfadd3.a764c8"
            ]
        ]
    },
    {
        "id": "d0aeb867.b7e6a8",
        "type": "json",
        "z": "aa066d67.6cfce",
        "name": "",
        "x": 268,
        "y": 431,
        "wires": [
            [
                "796bcd07.4283b4"
            ]
        ]
    },
    {
        "id": "99cfadd3.a764c8",
        "type": "ui_text",
        "z": "aa066d67.6cfce",
        "group": "d44b5357.d71a2",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Online",
        "format": "{{msg.payload.alive}}",
        "layout": "row-spread",
        "x": 587,
        "y": 635,
        "wires": []
    },
    {
        "id": "796bcd07.4283b4",
        "type": "change",
        "z": "aa066d67.6cfce",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.alive",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 447,
        "y": 431,
        "wires": [
            [
                "85137406.91e9c"
            ]
        ]
    },
    {
        "id": "f9eb3ed1.3fa438",
        "type": "ui_gauge",
        "z": "aa066d67.6cfce",
        "name": "",
        "group": "d44b5357.d71a2",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "VCC",
        "label": "volts",
        "format": "{{value}}",
        "min": "0",
        "max": "7",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "x": 396.5,
        "y": 722,
        "wires": []
    },
    {
        "id": "fe77f75e.013c9",
        "type": "ui_gauge",
        "z": "aa066d67.6cfce",
        "name": "",
        "group": "d44b5357.d71a2",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Signal",
        "label": "RSSI",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "x": 421.5,
        "y": 678,
        "wires": []
    },
    {
        "id": "6cf488d4.dab7f",
        "type": "change",
        "z": "aa066d67.6cfce",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 223.5,
        "y": 720,
        "wires": [
            [
                "f9eb3ed1.3fa438"
            ]
        ]
    },
    {
        "id": "9efcd935.df59a",
        "type": "change",
        "z": "aa066d67.6cfce",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 223.5,
        "y": 676,
        "wires": [
            [
                "fe77f75e.013c9"
            ]
        ]
    },
    {
        "id": "f3e62477.1bb4c8",
        "type": "config",
        "z": "af8eb435.50eef",
        "name": "",
        "properties": [
            {
                "p": "id",
                "pt": "flow",
                "to": "F4:FB:87:7F:CF:5C",
                "tot": "str"
            },
            {
                "p": "testId",
                "pt": "flow",
                "to": "00:00:00:00:00:00",
                "tot": "str"
            },
            {
                "p": "controlId",
                "pt": "flow",
                "to": "18:AB:1B:7F:CF:5C",
                "tot": "str"
            },
            {
                "p": "controlChannel",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            }
        ],
        "active": true,
        "x": 96.5,
        "y": 58,
        "wires": []
    },
    {
        "id": "bf7581e9.3af",
        "type": "change",
        "z": "af8eb435.50eef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "controlId",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 460,
        "wires": [
            [
                "b9fb30b0.8563d8",
                "788efc59.f27a2c",
                "8d6b4135.32b308"
            ]
        ]
    },
    {
        "id": "60d04b0e.96899c",
        "type": "change",
        "z": "af8eb435.50eef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "id",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1123.5,
        "y": 563,
        "wires": [
            [
                "af446ea2.e5509",
                "b5677779.60db38"
            ]
        ]
    },
    {
        "id": "920682fb.898f3",
        "type": "change",
        "z": "af8eb435.50eef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "testId",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1119.5,
        "y": 609,
        "wires": [
            [
                "af446ea2.e5509",
                "b5677779.60db38"
            ]
        ]
    },
    {
        "id": "b5677779.60db38",
        "type": "ui_text",
        "z": "af8eb435.50eef",
        "group": "3b412734.eb65a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Animation",
        "format": "{{msg.payload.animation}}",
        "layout": "row-spread",
        "x": 1316.5,
        "y": 655,
        "wires": []
    },
    {
        "id": "a7f61fe0.03b4d",
        "type": "mqtt in",
        "z": "f25c2c2d.6ed27",
        "name": "cmd",
        "topic": "F4:FB:87:7F:CF:5C",
        "qos": "0",
        "broker": "cd8293c3.d0adf8",
        "x": 98,
        "y": 720,
        "wires": [
            [
                "8b9ce3ee.7161d"
            ]
        ]
    },
    {
        "id": "65aacb1a.d8c42c",
        "type": "ui_text",
        "z": "f25c2c2d.6ed27",
        "group": "e36fe1ec.0ae5a8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Animation",
        "label": "Animation",
        "format": "{{msg.payload.animation}}",
        "layout": "row-spread",
        "x": 515,
        "y": 771,
        "wires": []
    },
    {
        "id": "8b9ce3ee.7161d",
        "type": "json",
        "z": "f25c2c2d.6ed27",
        "name": "",
        "x": 229,
        "y": 719,
        "wires": [
            [
                "e66e6f67.cb1b88"
            ]
        ]
    },
    {
        "id": "b2780e78.7203f",
        "type": "function",
        "z": "f25c2c2d.6ed27",
        "name": "animation",
        "func": "node.status({fill:\"green\",shape:\"ring\",text:msg.payload.animation});",
        "outputs": 1,
        "noerr": 0,
        "x": 515,
        "y": 719,
        "wires": [
            []
        ]
    },
    {
        "id": "e66e6f67.cb1b88",
        "type": "switch",
        "z": "f25c2c2d.6ed27",
        "name": "",
        "property": "payload.animation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 361.5,
        "y": 721,
        "wires": [
            [
                "b2780e78.7203f",
                "65aacb1a.d8c42c"
            ]
        ]
    },
    {
        "id": "de76622a.b546",
        "type": "change",
        "z": "af8eb435.50eef",
        "name": "setBlueAllowedAnimation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"animation\": \"pulse_blue\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 560,
        "wires": [
            [
                "644541c2.32544",
                "60d04b0e.96899c",
                "920682fb.898f3"
            ]
        ]
    },
    {
        "id": "13bfd3f7.04e72c",
        "type": "mqtt in",
        "z": "af8eb435.50eef",
        "name": "",
        "topic": "announce",
        "qos": "0",
        "broker": "cd8293c3.d0adf8",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "4eb0095b.c7fac8"
            ]
        ]
    },
    {
        "id": "4eb0095b.c7fac8",
        "type": "json",
        "z": "af8eb435.50eef",
        "name": "",
        "x": 270,
        "y": 840,
        "wires": [
            [
                "2b9a4e04.39c6e2"
            ]
        ]
    },
    {
        "id": "2b9a4e04.39c6e2",
        "type": "switch",
        "z": "af8eb435.50eef",
        "name": "",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "id",
                "vt": "flow"
            },
            {
                "t": "eq",
                "v": "testId",
                "vt": "flow"
            },
            {
                "t": "eq",
                "v": "controlId",
                "vt": "flow"
            }
        ],
        "checkall": "false",
        "outputs": 3,
        "x": 430,
        "y": 840,
        "wires": [
            [
                "921f262e.26af"
            ],
            [
                "921f262e.26af"
            ],
            [
                "ed30f425.cd7be"
            ]
        ]
    },
    {
        "id": "921f262e.26af",
        "type": "switch",
        "z": "af8eb435.50eef",
        "name": "isOverride",
        "property": "override",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 610,
        "y": 780,
        "wires": [
            [
                "de76622a.b546"
            ]
        ]
    },
    {
        "id": "ed30f425.cd7be",
        "type": "switch",
        "z": "af8eb435.50eef",
        "name": "isOverride",
        "property": "override",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 610,
        "y": 840,
        "wires": [
            [
                "2e49a845.5f4f6"
            ],
            [
                "a489d4bd.0c7338"
            ]
        ]
    },
    {
        "id": "9f118073.3744e8",
        "type": "switch",
        "z": "af8eb435.50eef",
        "name": "isOverride",
        "property": "override",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 730,
        "y": 400,
        "wires": [
            [
                "454bb956.e61d08",
                "2e49a845.5f4f6"
            ]
        ]
    },
    {
        "id": "35907e00.a6b3a2",
        "type": "mqtt in",
        "z": "7203a1d5.ce041",
        "name": "control",
        "topic": "18:AB:1B:7F:CF:5C",
        "qos": "2",
        "broker": "cd8293c3.d0adf8",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "60eebc23.8d924c"
            ]
        ]
    },
    {
        "id": "60eebc23.8d924c",
        "type": "json",
        "z": "7203a1d5.ce041",
        "name": "",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "8dadc733.3394"
            ]
        ]
    },
    {
        "id": "748b5c4a.2a0b24",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Channel 1",
        "label": "Channel 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 60,
        "wires": []
    },
    {
        "id": "28a310ed.ea907",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 1",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 60,
        "wires": [
            [
                "748b5c4a.2a0b24"
            ]
        ]
    },
    {
        "id": "d6ef1dac.f6a64",
        "type": "config",
        "z": "7203a1d5.ce041",
        "name": "Relay ID",
        "properties": [
            {
                "p": "id",
                "pt": "flow",
                "to": "18:AB:1B:7F:CF:5C",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 129,
        "y": 90,
        "wires": []
    },
    {
        "id": "13845db9.a480a2",
        "type": "mqtt in",
        "z": "7203a1d5.ce041",
        "name": "heartbeat",
        "topic": "heartbeat",
        "qos": "0",
        "broker": "cd8293c3.d0adf8",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "3c86b8e4.91cff8"
            ]
        ]
    },
    {
        "id": "c4d40b9a.ffe16",
        "type": "switch",
        "z": "7203a1d5.ce041",
        "name": "isReader",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "id",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 177.5,
        "y": 431,
        "wires": [
            [
                "f6ef119a.28a248",
                "14d76e9d.2435d9",
                "de7210.4aa2c5f",
                "be5cf762.a69e2",
                "2e50b449.2d3ecc"
            ]
        ]
    },
    {
        "id": "14d76e9d.2435d9",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "isConnected",
        "func": "if(msg.payload.alive) {\n  node.status({fill:\"green\",shape:\"ring\",text:\"up\"});\n} else {\n  node.status({fill:\"red\",shape:\"ring\",text:\"down\"});\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 449,
        "wires": [
            []
        ]
    },
    {
        "id": "de7210.4aa2c5f",
        "type": "trigger",
        "z": "7203a1d5.ce041",
        "op1": "{\"alive\":false}",
        "op2": "{\"alive\":false}",
        "op1type": "json",
        "op2type": "json",
        "duration": "10",
        "extend": true,
        "units": "s",
        "reset": "",
        "name": "WatchDog",
        "x": 457,
        "y": 387,
        "wires": [
            [
                "14d76e9d.2435d9",
                "f6ef119a.28a248"
            ]
        ]
    },
    {
        "id": "3c86b8e4.91cff8",
        "type": "json",
        "z": "7203a1d5.ce041",
        "name": "",
        "x": 276,
        "y": 301,
        "wires": [
            [
                "3790eb21.a68dec"
            ]
        ]
    },
    {
        "id": "f6ef119a.28a248",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Online",
        "format": "{{msg.payload.alive}}",
        "layout": "row-spread",
        "x": 615.5,
        "y": 497,
        "wires": []
    },
    {
        "id": "3790eb21.a68dec",
        "type": "change",
        "z": "7203a1d5.ce041",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.alive",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 455,
        "y": 301,
        "wires": [
            [
                "c4d40b9a.ffe16"
            ]
        ]
    },
    {
        "id": "db8aad37.606868",
        "type": "ui_gauge",
        "z": "7203a1d5.ce041",
        "name": "",
        "group": "3a8995d6.619b7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "VCC",
        "label": "volts",
        "format": "{{value}}",
        "min": "0",
        "max": "7",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "x": 404.5,
        "y": 592,
        "wires": []
    },
    {
        "id": "b53db376.78e118",
        "type": "ui_gauge",
        "z": "7203a1d5.ce041",
        "name": "",
        "group": "3a8995d6.619b7a",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Signal",
        "label": "RSSI",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "x": 429.5,
        "y": 548,
        "wires": []
    },
    {
        "id": "be5cf762.a69e2",
        "type": "change",
        "z": "7203a1d5.ce041",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.vcc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 231.5,
        "y": 590,
        "wires": [
            [
                "db8aad37.606868"
            ]
        ]
    },
    {
        "id": "2e50b449.2d3ecc",
        "type": "change",
        "z": "7203a1d5.ce041",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rssi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 231.5,
        "y": 546,
        "wires": [
            [
                "b53db376.78e118"
            ]
        ]
    },
    {
        "id": "aa4e8a5a.ddc658",
        "type": "inject",
        "z": "7203a1d5.ce041",
        "name": "Reboot",
        "topic": "",
        "payload": "{\"command\": \"reboot\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 680,
        "wires": [
            [
                "470c76b.353ba08"
            ]
        ]
    },
    {
        "id": "9816b969.f14fb8",
        "type": "ui_button",
        "z": "7203a1d5.ce041",
        "name": "",
        "group": "3a8995d6.619b7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Reboot",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\": \"reboot\"}",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 738,
        "wires": [
            [
                "470c76b.353ba08"
            ]
        ]
    },
    {
        "id": "57e48d93.f3ada4",
        "type": "mqtt out",
        "z": "7203a1d5.ce041",
        "name": "cmd",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "cd8293c3.d0adf8",
        "x": 481,
        "y": 718,
        "wires": []
    },
    {
        "id": "470c76b.353ba08",
        "type": "change",
        "z": "7203a1d5.ce041",
        "name": "set Reader ID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "id",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 291,
        "y": 719,
        "wires": [
            [
                "57e48d93.f3ada4"
            ]
        ]
    },
    {
        "id": "d4f304ae.c4bd88",
        "type": "ui_text",
        "z": "af8eb435.50eef",
        "group": "3b412734.eb65a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Door State",
        "label": "Door State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1730,
        "y": 380,
        "wires": []
    },
    {
        "id": "788efc59.f27a2c",
        "type": "debug",
        "z": "af8eb435.50eef",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1540,
        "y": 320,
        "wires": []
    },
    {
        "id": "8d6b4135.32b308",
        "type": "function",
        "z": "af8eb435.50eef",
        "name": "Door State",
        "func": "if(msg.payload.state) {\n  msg.payload = \"unlocked\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"unlocked\"});\n  return msg;\n} else {\n  msg.payload = \"locked\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"locked\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 1570,
        "y": 400,
        "wires": [
            [
                "d4f304ae.c4bd88"
            ]
        ]
    },
    {
        "id": "8dadc733.3394",
        "type": "switch",
        "z": "7203a1d5.ce041",
        "name": "channel",
        "property": "payload.controlChannel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "15",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "16",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "outputs": 16,
        "x": 680,
        "y": 160,
        "wires": [
            [
                "28a310ed.ea907"
            ],
            [
                "7d93a49d.9b899c"
            ],
            [
                "150129f1.602056"
            ],
            [
                "690c7665.f05b88"
            ],
            [
                "ef06349c.dbbe58"
            ],
            [
                "3bc93fc6.908448"
            ],
            [
                "c5780b7f.9c981"
            ],
            [
                "d266b00e.ced2d"
            ],
            [
                "790dfac.8607e04"
            ],
            [
                "f7267d1d.809e58"
            ],
            [
                "e682ea5c.9d409"
            ],
            [
                "e40e44ab.ba11b"
            ],
            [
                "5736370b.6cc658"
            ],
            [
                "a20b6638.2bd26"
            ],
            [
                "8df4140f.395c98"
            ],
            [
                "b3af4dae.87e068"
            ]
        ]
    },
    {
        "id": "5271652b.26f46c",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Channel 2",
        "label": "Channel 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 120,
        "wires": []
    },
    {
        "id": "7d93a49d.9b899c",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 2",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 120,
        "wires": [
            [
                "5271652b.26f46c"
            ]
        ]
    },
    {
        "id": "e0f5dc03.e1c21",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Channel 3",
        "label": "Channel 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "150129f1.602056",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 3",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 180,
        "wires": [
            [
                "e0f5dc03.e1c21"
            ]
        ]
    },
    {
        "id": "540d80dc.359b5",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Channel 4",
        "label": "Channel 4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "690c7665.f05b88",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 4",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 240,
        "wires": [
            [
                "540d80dc.359b5"
            ]
        ]
    },
    {
        "id": "d232110e.98289",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Channel 5",
        "label": "Channel 5",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 300,
        "wires": []
    },
    {
        "id": "ef06349c.dbbe58",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 5",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 300,
        "wires": [
            [
                "d232110e.98289"
            ]
        ]
    },
    {
        "id": "2e33d674.91e1ca",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Channel 6",
        "label": "Channel 6",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 360,
        "wires": []
    },
    {
        "id": "3bc93fc6.908448",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 6",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 360,
        "wires": [
            [
                "2e33d674.91e1ca"
            ]
        ]
    },
    {
        "id": "1cbe2c99.c660ab",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "Channel 7",
        "label": "Channel 7",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 420,
        "wires": []
    },
    {
        "id": "c5780b7f.9c981",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 7",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 420,
        "wires": [
            [
                "1cbe2c99.c660ab"
            ]
        ]
    },
    {
        "id": "57f1f9b5.2f02c",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "Channel 8",
        "label": "Channel 8",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 480,
        "wires": []
    },
    {
        "id": "d266b00e.ced2d",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 8",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 480,
        "wires": [
            [
                "57f1f9b5.2f02c"
            ]
        ]
    },
    {
        "id": "d2207a3b.6e232",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "Channel 9",
        "label": "Channel 9",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1080,
        "y": 540,
        "wires": []
    },
    {
        "id": "790dfac.8607e04",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 9",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 540,
        "wires": [
            [
                "d2207a3b.6e232"
            ]
        ]
    },
    {
        "id": "76f6dc3b.2283e4",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Channel 10",
        "label": "Channel 10",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 600,
        "wires": []
    },
    {
        "id": "f7267d1d.809e58",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 10",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 600,
        "wires": [
            [
                "76f6dc3b.2283e4"
            ]
        ]
    },
    {
        "id": "6d96e5b3.f56f0c",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "Channel 11",
        "label": "Channel 11",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 660,
        "wires": []
    },
    {
        "id": "e682ea5c.9d409",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 11",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 660,
        "wires": [
            [
                "6d96e5b3.f56f0c"
            ]
        ]
    },
    {
        "id": "5fbd7cbb.53f184",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "Channel 12",
        "label": "Channel 12",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 720,
        "wires": []
    },
    {
        "id": "e40e44ab.ba11b",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 12",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 720,
        "wires": [
            [
                "5fbd7cbb.53f184"
            ]
        ]
    },
    {
        "id": "a140ac20.6adfd",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "Channel 13",
        "label": "Channel 13",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 780,
        "wires": []
    },
    {
        "id": "5736370b.6cc658",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 13",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 780,
        "wires": [
            [
                "a140ac20.6adfd"
            ]
        ]
    },
    {
        "id": "7ef0e1b8.d45508",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "Channel 14",
        "label": "Channel 14",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 840,
        "wires": []
    },
    {
        "id": "a20b6638.2bd26",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 14",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 840,
        "wires": [
            [
                "7ef0e1b8.d45508"
            ]
        ]
    },
    {
        "id": "4be8ffee.026e78",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 19,
        "width": 0,
        "height": 0,
        "name": "Channel 15",
        "label": "Channel 15",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 900,
        "wires": []
    },
    {
        "id": "8df4140f.395c98",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 15",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 900,
        "wires": [
            [
                "4be8ffee.026e78"
            ]
        ]
    },
    {
        "id": "4b2653f0.962a0c",
        "type": "ui_text",
        "z": "7203a1d5.ce041",
        "group": "3a8995d6.619b7a",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "Channel 16",
        "label": "Channel 16",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 960,
        "wires": []
    },
    {
        "id": "b3af4dae.87e068",
        "type": "function",
        "z": "7203a1d5.ce041",
        "name": "Channel 16",
        "func": "if(msg.payload.state) {\n  msg.payload = \"open\";\n  node.status({fill:\"green\",shape:\"ring\",text:\"open\"});\n  return msg;\n} else {\n  msg.payload = \"closed\";\n  node.status({fill:\"red\",shape:\"ring\",text:\"closed\"});\n  return msg;\n}\n    \n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 960,
        "wires": [
            [
                "4b2653f0.962a0c"
            ]
        ]
    }
]
